
.loading{
    margin: 1em;
    margin-top: 30%;
    border-radius: 10px;
    flex: 1 1 auto;
    width: 90%;
    color: $white;
    background-color: $primary;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;

}